.black-han sans-regular {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fde0ff;
}

a {
  text-decoration: none;
  color: black;
}

.NavMenu {
  display: flex;
  /*contents 사이에 여백 추가*/
  justify-content: space-between;
  /*여백 추가된 contents 들을 세로 중앙 정렬*/
  align-items: center;
  padding: 8px 12px;
  font-family: 'Black Han Sans';
}

/*작품 구경하기*/
.search_script {
  font-size: 30px;
}
.search_script img {
  width: 30px;
}

/*지금 공연 중*/
.now_playing {
  font-size: 30px;
  padding-left: 0;
}
.now_playing img {
  width: 30px;
}

/*작품 등록하기*/
.regist_script {
  font-size: 30px;
  padding-left: 0;
}
.regist_script img {
  width: 30px;
}

/*로그인/회원가입*/
.sign_inup {
  font-size: 30px;
}
.sign_inup img {
  width: 30px;
}

.Intro {
  text-align: center;
  padding-top: 30px;
  font-family: 'Black Han Sans';
}
.describe {
  font-size: 20px;
}
.title {
  color: #490076;
  font-size: 60px;
}
