.black-han sans-regular {
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #fde0ff;
}

a {
  text-decoration: none;
  color: black;
}

.NavMenu {
  display: flex;
  /*contents 사이에 여백 추가*/
  justify-content: space-between;
  /*여백 추가된 contents 들을 세로 중앙 정렬*/
  align-items: center;
  padding: 8px 12px;
  font-family: 'Black Han Sans';
}

.nav_logo a {
  color: #490076;
  font-size: 50px;
}

.Intro {
  text-align: center;
  padding-top: 30px;
  font-family: 'Black Han Sans';
}
.describe {
  font-size: 20px;
}
.title {
  color: #490076;
  font-size: 60px;
}

/* 반응형 웹 */
@media screen and (max-width: 768px) {
  .NavMenu {
    flex-direction: column;
  }
}
